
ion-tab-button:nth-child(3) {
    // background: #f96165;
}


ion-icon {
    padding: 0 3px;
    font-size: 24px;
}

.tab-selected{
    // background: rgb(134,31,194) !important;
    color: #0084ff !important;
  }